#count_label {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
}

#button_container {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: #0a0a23;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover {
    background-color: #1E90FF;
}